.login-form {
	width: 451px;
	height : 447px;
	margin : 0 0 0 0;
	padding: 50px 75px;
	background : url('../../img/denglu.png') no-repeat;
	float: right;
	position: absolute;
	top : 128px;
	right : 125px;
	background-size : 451px 447px
}

.big-img {
	width: 100%;
	height: 100vh
}
.big-circle {
	width: 746px;
	height : 565px;
	position: absolute;
	top : 50px;
	left : 142px;
}
.big-title {
    width: 300px;
    height: 50px;
    position: absolute;
    top : 0px;
}
span.big-title {
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding-top: 5px;
}
.login-form-item {

}
.login-form-item .input-border#loginName{
    margin-top: 80px;
}
.login-form-item input {
    border : 2px solid rgba(48, 201, 233, 0.8);
	background-color: rgba(13,69, 131, 0.8);
    box-shadow: 0px 0px 30px rgba(56, 148, 216, 0.5) inset;
    /*boxShadow: '0px 0px 30px rgba(153,212,255,0.6) inset',*/
	width: 302px;
	height : 50px;
	padding-left: 70px !important;
	color: #b0d1f6
}
.login-form-button {
	width: 302px;
	background: #59f2fc;
	height: 50px;
}
.role {
	background : transparent;
	border : 3px solid #28f2ff;
	position: absolute;
	bottom : 8%;
	left : 32%;
	padding: 5px 15px
}
.role span {
	color: #28f2ff;
	font-size: 20px;
	padding: 5px
}

.rem-pwd {
	margin-bottom: 0;
}

.remember-pwd {
    background: transparent;
	color: #5d9eff;
	float: right;
	
}

.remember-pwd span {
	font-size: 4px;
	
}